<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Splurkart | Buy The Digital In Your Cart</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="icon" src="/assets/images/Logo.ico">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/cart.css">
    <link rel="stylesheet" href="../assets/css/bd-coming-soon.css">
    <script
    src="https://www.paypal.com/sdk/js?client-id=AVyn_6vYgYmaiUJnGmtSjmP43NtTeK5aMRpLExQhvO4GtRhSkpmCVqLiZQrHFcCINLVOVBkhNF8DD39I&components=messages"
    data-namespace="PayPalSDK">
    </script>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.css">
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js"></script>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <!-- css -->
  <link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
      <!-- css -->
  <link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vueperslides"></script>
  <link href="https://unpkg.com/vueperslides/dist/vueperslides.css" rel="stylesheet">
</head>

    <!-- Header.. -->
<body style="margin:0px;overflow-x: scroll;">
    <!-- Header -->
<body>
    <style type="text/css">
    .headerdrop {
      position: absolute;
      border-top:solid 2px;
      border-color: white;
      top:98px;
      background-color: #52b36c;
      width:100%;
      color: white;
      display: none;
      z-index:6;

}
    .headerdrop:hover{
        display: block;
    }
    .search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}
.v-application a {
    color: #52b36c!important;
}
body{
  color:#52b36c !important;
}
.footercontainer a {
  color:white !important;
}
.product-detail__content .product__review {
    display: flex;
    align-items: center;
    /* margin-bottom: 1.6rem; */
    /* padding-bottom: 1.6rem; */
    border-bottom: 0.5px solid var(--primaryColor);
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
textarea {
  resize: vertical;
  height: 100%;
}
.slippery{
  color:white !important;
}
.slippery i{
  color:white;

}
#markdown-editor .toolbar .group {
    border-right: 1px solid white;
    margin-right: 4px;
    display: inline;
}
.underline:hover{
  text-decoration: underline;
  color:#52b36c;
  cursor: pointer;
}
.subheading{
    cursor: pointer;
    color: #222325;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 12px 5px;
    margin-top: 5px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.v-data-table-header-mobile{
        display: none !important;
      }
</style>

    <!-- Header.. -->
<body>
<iframe src="../pages/header" style="border:none;width:100%;height:98px" id="iframehead" scrolling="no"></iframe>
<div class="dropdown-content" id="dropcont" style="color:white; min-width:240px;border-top: solid 2px;border-color: white;z-index: 100;display: none" onmouseout="this.style.display = 'none'" onmouseover="this.style.display = 'block'">
    <div><br>
        <p style="display:inline-block"; id="avatarusername1" onclick="profilego()">Signed In As:</p>
    </div>
<hr><br>
    <p onclick="profilego()">Your Profile</p>
    <p>Splurket Pay</p>
    <p>Splurket Creators</p>
    <p>Your Payment History</p>
    <p>Your Job Request History</p>
    <br><hr><br>
    <div>
    <center><p onclick="signout()">Sign Out</p></center>
  </div>
</div>
<!--Home Dropdown-->
    <div class="headerdrop" hidden="hidden" id="homeheaderdrop"onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'"> 
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">Splurket</h2><br><hr><br>
                <p>Profile</p>
                <p>Marketplace</p>
                <p>Splurket Pay</p>
                <p>Splurket Creators</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Splurket Creators</h2><br><hr><br>
                <p>Become A Creator</p>
                <p>Add A Product</p>
                <p>Share Your Talent</p>
                <p>Fulfill Customer Orders</p>
        </div>

    </div>
    <!--marketplace Dropdown-->
    <div class="headerdrop" hidden="hidden" id="marketplaceheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">   
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">Marketplace</h2><br><hr><br>
                <p>Explore</p>
                <p>Categories</p>
                <p>Cart</p>
                <p>Checkout</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Orders and Job Requests</h2><br><hr><br>
                <p>New Job Request</p>
                <p>Your Orders And Job Requests</p>
                <p>Job Payment Completion</p>
                <p>Get A Quote</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Talent</h2><br><hr><br>
                <p>Explore Talent</p>
                <p>Hire Talent</p>
                <p>Get A Quote</p>
        </div>
    </div>
    <!--Messages Dropdown-->
    <div class="headerdrop" hidden="hidden" id="messageheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">
        <div class="fcolumn" style="margin-left:100px">
            <h2 style="font-size:20px;">Messages</h2><br><hr><br>
                    <p>New Message</p>
                    <p>All Messages</p>
                    <p>Recipients</p>
        </div>
        <div class="fcolumn" style="margin-left:100px">

        </div>
        <div class="fcolumn" style="margin-left:100px">
            <center><h3 style="background-color: red;padding:10px;">For Added Safety and Your Protection, Keep Payments and Communications Within Splurket.</h3></center>
        </div>
    </div>

    <!--Support Dropdown-->
    <div class="headerdrop" hidden="hidden" id="supportheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">About</h2><br><hr><br>
                <p>Overview</p>
                <p>What Is Splurket</p>
                <p>What Sets Us Apart</p>
                <p>Privacy Policy</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">FAQ</h2><br><hr><br>
                <p>How Do I Get Started</p>
                <p>How Do I Pay For An Order/Complete Job</p>
                <p>How Can I Become a Seller/Creator</p>
                <p>What Happens When I Get A Quote?</p>
                <p>More</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Blog</h2><br><hr><br>
                <p>Latest</p>
                <p>All Posts</p>
                <p>Getting Started Guides</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Community</h2><br><hr><br>
                <p>Discord</p>
                <p>Events</p>
                <p>Referrals</p>
        </div>
        </div>

    <script>
        //var totalpaypal = document.getElementById(total).innerText;
    </script>
    <center><h1 id="noitems">No Items Found In Cart!</h1></center>
    <div id="app" style="width:100%">
  <v-app id="inspire" style="min-width:50%">
  <main id="main" style="margin-left:10%">
    <div class="container">
<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    class="elevation-1"
     :items-per-page="-1"
     :hide-default-footer="true"
    mobile-breakpoint="0"


  >


    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Your Cart</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
            <v-btn
              color="primary"
              dark
              class="mb-2"
              @click="dialog2 = true"
              style="background-color: #52b36c !important"
            >
              Clear Cart
          </v-btn>
          <v-dialog
        v-model="dialog2"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            Delete All Items?
          </v-card-title>
          <v-card-text>
            <v-btn
            id="clearcart"
              color="primary"
              dark
              style="background-color: #52b36c !important"
              onclick="localStorage.removeItem('cart'); location.reload()"
            >
              Yes Clear All items
            </v-btn>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="dialog2 = false"
            >
              No, Get Me Out Of Here!
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px" style="word-break: break-word;">
          <v-card>
            <center><v-card-title class="headline" style="word-wrap: break-word;word-break: break-word">Are You Sure You Want To Delete This Item?</v-card-title></center>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" id="desserts" text @click="deleteItemConfirm" onclick="removeFromCart()">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-card style="position: absolute;right:30px;top:2rem;min-width:250px;min-height:100px">
        <h3 style="padding:15px">Subtotal: <span id="total">{{ total }}</span></h3>
        <center><v-divider style="width:85%;"></v-divider></center>
        <center><v-btn type="button" class="btn btn-primary" style="margin-top:15px;background-color: #52b36c;border-color: #52b36c;color:white" value="Checkout">Checkout</v-btn></center><br>
      </v-card>
      <!--PAYMENT CODE-->


      <v-card style="position: absolute;right:30px;top:200px;min-width:250px;min-height:100px">
        <h3 style="padding:15px">Recieve A Payment Code?</h3>
        <center><v-divider style="width:85%;"></v-divider></center>
        <center><v-btn type="button" class="btn btn-primary" style="margin-top:15px;background-color: #52b36c;border-color: #52b36c;color:white" value="Enter It Here">Enter It Here!</v-btn></center><br>
      </v-card>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        :id=item.id
        onclick="idf(this.id)"
      >
        mdi-close
      </v-icon>
    </template>
    <template v-slot:item.name="{ item }">
      <td
      :id="item.id"
      class="subheading"
      onclick="window.top.location.href='https://splurket.com/pages/product?product='+this.id"
      >{{item.name}}</td>
    </template>
    <template v-slot:item.image="{ item }">
      <td
      :id="item.id"
      onclick="window.top.location.href='https://splurket.com/pages/product?product='+this.id"
      ><img :src="item.image" style="width:50px;max-height:60px"></td>
    </template>
    <template v-slot:no-data>
        <h1>No Items Found In Cart</h1><br>
        <center><v-btn type="button" class="btn btn-primary" style="margin-top:15px;background-color: #52b36c;border-color: #52b36c;color:white" onclick="window.location.href ='https://splurket.com/pages/marketplace'"value="Start Shopping">Start Shopping!</v-btn></center><br>
    </template>
  </v-data-table>
</template>
</div>
</main>
</v-app>
</div>
<!--<div class="body1">
<section style="margin-left:20%">
  <form style="padding-top:0px">
  <header>
    <center><h2 style="color:#52b36c">Cart</h2></center>
  </header>
  <table id="cart">
    <center><p><strong style="font-size:23px;">Total: <span style="font-size:23px;" id="total"></span></p></strong>
    <thead>
      <tr>
        <th style="background-color: #52b36c;">Name</th>
        <th style="background-color: #52b36c;">Quantity</th>
        <th style="background-color: #52b36c;">Price</th>
        <th style="background-color: #52b36c;"id="sizetable">Size</th>
        <th style="background-color: #52b36c;"id="colortable">Color</th>
        <th style="background-color: #52b36c;">Remove One</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </form>
</section>
<script src="./cart.js"></script>
</div>
<section class='section1'>
  <section style="margin-left:40%;margin-top:50px;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypalitems">
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1">-->

    <!-- business email address -->
    <input type="hidden" name="business" value="misfitzgym@gmail.com" />

    <!-- currency code -->

    <input type="hidden" name="currency_code" value="USD">

    <!-- url handling -->
    <input type="hidden" name="handling" value="0">
    <input type="hidden" name="cancel_return" value="">
    <input type="hidden" name="return" value="RETURN_URL">
  
    </form>
      <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.js'></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--<script src="./cart.js"></script>-->
    <script type="text/javascript"></script>

    </script>
    <script
      src="https://www.paypal.com/sdk/js?client-id=AT6U31PpcI49m4V_DCS7ELtZwaU8A9R6jOClCAlkOjW6TeS49G4kswEX2kWoLzcbcd_eUCtmdz7CG8__"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>
    </script>
  </section>
</section>
</p>
</center>
</p>
</center>
</table>
</form>
</section>
</div>
<script>
    var idd;
  cart=getCart();

  populateCart();
  
var hello=getCart();
const items=[];
console.log(Object.keys(hello).length)
  for(var item in hello) {
    console.log(item)
    var cartItem = hello[item];
      var dollars = JSON.stringify(cartItem.data.price);
      var dollars1 = dollars.replace(/["']/g, "")
      var str = dollars1;
      var resStr=str.substring(0,str.length-2)+"."+str.substring(str.length-2);
      pricethat = '$'+resStr;
    pushdata= {value: false, id: `${cartItem.data.id}`, name: `${cartItem.data.description}`, quantity: `${cartItem.quantity}`, price: pricethat, image: `${cartItem.data.image}`}
    items.push(pushdata)
    console.log(Object.keys(hello[item]).length)

    //console.log(cartItem.data.id);
  }
  function populateCart(){

    var cartBody = document.querySelector("#cart > tbody");
    var cart = getCart();
    Crtitems = (JSON.stringify(Object.keys(cart).length))
    if (Crtitems > "0" || typeof Crtitems !== "undefined"){
      document.getElementById('app').style.diplay="block"
      document.getElementById('noitems').style.display="none"
    }else{
      document.getElementById('app').style.diplay="none"
      document.getElementById('noitems').style.display="block"
    }
    // update total
    var totalEl = document.getElementById("total");
    var total = Object.keys(cart).reduce((prev, curr) => {

      var q = cart[curr].quantity;
      var p = cart[curr].data.price;
      return prev + (q*p);
    }, 0);

    totalDollars = total / 100;
    console.log(totalDollars)
    totalDollars1 = totalDollars.toFixed(2)
    app.total = `$${totalDollars1}`;
    

    // remove all cart items
    /*while (cartBody.firstChild) {
      cartBody.removeChild(cartBody.firstChild);
    }*/

    // add cart items back
    /*for (var item in cart) {
      var cart = getCart();
      var cartItem = cart[item];
      var tr = document.createElement("tr");
      var desc = document.createElement("td");
      desc.innerHTML = cartItem.data.description;
      tr.appendChild(desc);

      var quantity = document.createElement("td");
      quantity.innerHTML = cartItem.quantity;
      tr.appendChild(quantity);

      var price = document.createElement("td");
      var dollars = JSON.stringify(cartItem.data.price);
      var dollars1 = dollars.replace(/["']/g, "")
      var str = dollars1;
      var resStr=str.substring(0,str.length-2)+"."+str.substring(str.length-2);

      price.innerHTML = '$'+resStr;
      tr.appendChild(price);


      var size1 = JSON.stringify(cartItem.data.size);
      if(typeof size1 !== "undefined") {
        var size = document.createElement("td");
        var size2 = size1.replace(/["']/g, "")
        var str1 = size2;
        var resStr1=str1.substring(0,str1.length-2)+str1.substring(str1.length-2);

        size.innerHTML = resStr1;
        tr.appendChild(size);
    }

      var color1 = JSON.stringify(cartItem.data.color);
      if(typeof color1 !== "undefined") {
        var color = document.createElement("td");
        var color2 = color1.replace(/["']/g, "")
        var str2 = color2;
        var resStr2=str2.substring(0,str2.length-2)+str2.substring(str2.length-2);

        color.innerHTML = resStr2;
        tr.appendChild(color);
    }
    var size1 = JSON.stringify(cartItem.data.size);
      if(typeof size1 == "undefined") {
        var size = document.createElement("td");
        tr.appendChild(size);
    }
      if(typeof color1 == "undefined") {
        var color = document.createElement("td");
        tr.appendChild(color);
    }
      var rem = document.createElement("td");
      var but = document.createElement("button");

      }
      but.addEventListener("click", removeListener(item));
      but.innerHTML = 'X';
      but.style ="background-color: #52b36c; color: white; border-color:white;"
      rem.appendChild(but);
      tr.appendChild(rem);

      cartBody.appendChild(tr);
    }
  }*/
}

  function addToCart(data) {
    var cart = getCart()
    var prevQuantity = cart[data.id] ? cart[data.id].quantity: 0;
    cart[data.id] = {
      quantity: prevQuantity + 1,
      data,

    }
    data1 = data.price.replace("$","")
    data2 = data1.replace(".","")
    data.price = data2;
    localStorage.setItem('cart', JSON.stringify(cart));
    
    populateCart();
  }

  function removeFromCart(id) {
    id=idd
    var cart = getCart();
    if (!cart[id]) {
      console.error(`${id} not found in cart`);
      return;
    }

    var prevQuantity = cart[id].quantity;
    if (prevQuantity === 1) {
      // remove item if will go to 0
      delete cart[id];
    } else {
      cart[id].quantity = prevQuantity - 1;
    }

    localStorage.setItem('cart', JSON.stringify(cart));

    window.location.reload()
  }

  function getCart() {
    return JSON.parse(localStorage.getItem('cart')) || {};
  }

  window.addEventListener("storage", function(e) {
    populateCart();
  })
  app = new Vue({
  el: '#app',
  vuetify: new Vuetify(),
    data: () => ({
     dialog2: false,
      dialog: false,
      dialogDelete: false,
      total:0,
      headers: [
      { text: '', align: 'start', sortable: false, value: 'image'},
        { text: 'Items', align: 'start', sortable: false, value: 'name'},
        { text: 'Quantity', value: 'quantity' },
        { text: 'Price', value: 'price' },
        { text: '', value: 'actions', sortable: false },
      ],
      desserts: items,
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.desserts = items
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item, id) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
        idd=id
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()

      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  })

</script>
<script>
  function idf(idflick){
    idd=idflick;
    console.log(idd)
    removeFromCart(idd)
  }
  function deletet(){

  }
  car1t=getCart()
  console.log(car1t)
    </script>
</body>
</body>
</html>
