@media screen and (min-width: 1057px) {
  #formtabs{
    display: none;
  }
     #toggle-open1{
  display:none;
}
#toggle-close1{
  display: none;
  }
  .icon-open{
display: none
  }
  .icon-close{
    display: none;
  }
  div[role="tablist"]{
    display: block;
}
}
@media(max-width:1056px){
  div[role="tablist"]{
    display: none;
}
}