<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Splurket: Software Has no Limits</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="icon" src="/assets/images/Logo.ico">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/css/user.css">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js"></script>
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.css'>

    <link rel="icon" type="image/x-icon" href="../assets/images/Logo.png" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- css -->
    <link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
    <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vueperslides"></script>
  <link href="https://unpkg.com/vueperslides/dist/vueperslides.css" rel="stylesheet">
</head>
<style type="text/css">
    .headerdrop {
      position: absolute;
      border-top:solid 2px;
      border-color: white;
      top:98px;
      background-color: #52b36c;
      width:100%;
      color: white;
      display: none;
      z-index: 5;
}
    .headerdrop:hover{
        display: block;
    }
    .search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}
</style>

    <!-- Header.. -->
<body>
    <!-- Header -->
<iframe src="./header" style="border:none;width:100%;height:98px"></iframe>
<div class="dropdown-content" id="dropcont" style="color:white; min-width:240px;border-top: solid 2px;border-color: white;z-index: 100;" onmouseout="this.style.display = 'none'" onmouseover="this.style.display = 'block'">
    <div><br>
        <p style="display:inline-block"; id="avatarusername1" onclick="profilego()">Signed In As:</p>
    </div>
<hr><br>
    <p onclick="profilego()">Your Profile</p>
    <p>Splurket Pay</p>
    <p>Splurket Creators</p>
    <p>Your Payment History</p>
    <p>Your Job Request History</p>
    <br><hr><br>
    <div>
    <center><p onclick="signout()">Sign Out</p></center>
  </div>
</div>
<!--Home Dropdown-->
    <div class="headerdrop" hidden="hidden" id="homeheaderdrop"onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'"> 
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">Splurket</h2><br><hr><br>
                <p>Profile</p>
                <p>Marketplace</p>
                <p>Splurket Pay</p>
                <p>Splurket Creators</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Splurket Creators</h2><br><hr><br>
                <p>Become A Creator</p>
                <p>Add A Product</p>
                <p>Share Your Talent</p>
                <p>Fulfill Customer Orders</p>
        </div>

    </div>
    <!--marketplace Dropdown-->
    <div class="headerdrop" hidden="hidden" id="marketplaceheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">   
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">Marketplace</h2><br><hr><br>
                <p>Explore</p>
                <p>Categories</p>
                <p>Cart</p>
                <p>Checkout</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Orders and Job Requests</h2><br><hr><br>
                <p>New Job Request</p>
                <p>Your Orders And Job Requests</p>
                <p>Job Payment Completion</p>
                <p>Get A Quote</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Talent</h2><br><hr><br>
                <p>Explore Talent</p>
                <p>Hire Talent</p>
                <p>Get A Quote</p>
        </div>
    </div>
    <!--Messages Dropdown-->
    <div class="headerdrop" hidden="hidden" id="messageheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">
        <div class="fcolumn" style="margin-left:100px">
            <h2 style="font-size:20px;">Messages</h2><br><hr><br>
                    <p>New Message</p>
                    <p>All Messages</p>
                    <p>Recipients</p>
        </div>
        <div class="fcolumn" style="margin-left:100px">

        </div>
        <div class="fcolumn" style="margin-left:100px">
            <center><h3 style="background-color: red;padding:10px;">For Added Safety and Your Protection, Keep Payments and Communications Within Splurket.</h3></center>
        </div>
    </div>

    <!--Support Dropdown-->
    <div class="headerdrop" hidden="hidden" id="supportheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">About</h2><br><hr><br>
                <p>Overview</p>
                <p>What Is Splurket</p>
                <p>What Sets Us Apart</p>
                <p>Privacy Policy</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">FAQ</h2><br><hr><br>
                <p>How Do I Get Started</p>
                <p>How Do I Pay For An Order/Complete Job</p>
                <p>How Can I Become a Seller/Creator</p>
                <p>What Happens When I Get A Quote?</p>
                <p>More</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Blog</h2><br><hr><br>
                <p>Latest</p>
                <p>All Posts</p>
                <p>Getting Started Guides</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Community</h2><br><hr><br>
                <p>Discord</p>
                <p>Events</p>
                <p>Referrals</p>
        </div>
        </div>
    
    <!-- Header ENDS HERE!!!!.. -->

<style type="text/css">
v-card-title{
display:block;
}
</style><!-- partial:index.partial -->
<div id="app" style="width:100%">
  <v-app id="inspire">
    <v-container fluid style="min-height:100%">
      <v-data-iterator
        :items="items"
        :items-per-page.sync="itemsPerPage"
        :reviews="reviews"
        :products="products"
        :badges="badges"
        :page.sync="page"
        :search="search"
        :sort-by="sortBy.toLowerCase()"
        :sort-desc="sortDesc"
        hide-default-footer
        disable-pagination
        dense
      >
    <template v-slot:header="props">
            <div style="height:100%;width:70%;position:absolute;right:0px;z-index:3;top:20px">
                <v-tabs color="#52b36c">
                <v-tab>Products</v-tab>
                  <v-tab-item
                    v-for="product in products"
                    :key="product.id"
                  >

                    <v-card :id="product.id" :data-cat="product.category" :data-subcat="product.subcategory">
                        <v-img
                          height="250"
                          :src="product.image"
                          :id="product.id" :data-cat="product.category" :data-subcat="product.subcategory" onclick="window.top.location.href='./product?product='+this.id+'&cat='+this.dataset.cat+'&subcat='+this.dataset.subcat"
                        ></v-img>
                        <div>
                          <img :src="product.creatorpic" height="30px" width="30px" style="border-radius: 50%;margin-top:10px;margin-left: 10px":id="product.creator" onclick="window.top.location.href='./creator?creator='+this.id"></img></a>
                            <p style="display: inline-block;margin: 0px;top:265px;left:50px;position: absolute;" class="cardtit" :id="product.creator" onclick="window.top.location.href='./user?user='+this.id">{{ product.creator }}
                        </p>
                      </div>
                        <v-card-title class="subheading font-weight-bold" :id="product.id" :data-cat="product.category" :data-subcat="product.subcategory" onclick="window.top.location.href='./product?product='+this.id+'&cat='+this.dataset.cat+'&subcat='+this.dataset.subcat">
                          {{ product.name }}
                        </v-card-title>
                        <v-card-text style="color:#878787;font-size:15px;padding-left: 16px;padding-top: 0px;" class="e546783wyte">{{ product.desc }}</v-card-text>
                        <v-card-text style="color:#52b36c;font-size:25px;padding-left: 16px;padding-top: 0px;position:relative;padding-bottom:0px;padding-top:15px">
                          ★<span style="color:#52b36c;font-size:20px;top:0px">{{ product.reviewsn }}</span>
                         </v-card-text></v-list>
          
                        <!--<v-list dense>
                          <v-list-product
                            v-for="(key, index) in filteredKeys"
                            :key="index"
                          >
                            <v-list-product-content :class="{ 'blue--text': sortBy === key }">
                              {{ key }}:
                            </v-list-product-content>
                            <v-list-product-content
                              class="align-end"
                              :class="{ 'blue--text': sortBy === key }"
                            >
                              {{ product[key.toLowerCase()] }}
                            </v-list-product-content>
                          </v-list-product>-->

                        <v-divider></v-divider>
                            <div style="padding-left: 11px;padding-top: 0px;position:absolute;bottom:5px;">
                                <v-btn
                                  icon
                                  color="pink"
                                >
                                  <v-icon dark>
                                    mdi-heart
                                  </v-icon>
                                </v-btn>
                            </div>
                        <div style="height:40px"></div>
                        <p style="right:20px;display:block;bottom:-5px;position: absolute;font-size:20px">{{ product.price }}</span></p>
                      </v-card>
                  </v-tab-item>
                    <v-tab>Reviews</v-tab>





                    <v-tab>Badges</v-tab>




                  </v-tabs></center>
        </div>
    </template>
  
        <template v-slot:default="props">
          <v-row style="margin-top:50px;position:relative;width:90%;margin-right: 5%;margin-left: 5%;">
            <v-col
              v-for="item in props.items"
              :key="item.name"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <v-card :id="item.name">
                <div style="
                    height: 5px;
                "></div>
                <center><v-img
                  height="150px"
                  width="150px"
                  :src="item.image"
                  :id="item.id"
                  style="border-radius: 50%;margin-top:50px"
                ></v-img></center>
              </div>
                <center><v-card-title class="subheading font-weight-bold" :id="item.id" style="display:block">
                  {{ item.name }}
                </v-card-title></center>
                <strong><center><p style="font-family: 'Shadows Into Light Two';font-size:15px">{{ item.tag }}</p></center></strong>
                <center><v-divider style="width:80%"></v-divider></center><br>
                <center><p style="margin-top:10px;font-size:15px;position: absolute;bottom: 18px;left: 100px;">Splurkocity:</p></center>
                <center><v-rating
                  v-model="item.reviewsn"
                  background-color="green lighten-3"
                  color="green"
                  medium
                  readonly
                ></v-rating></center>
  
                <!--<v-list dense>
                  <v-list-item
                    v-for="(key, index) in filteredKeys"
                    :key="index"
                  >
                    <v-list-item-content :class="{ 'blue--text': sortBy === key }">
                      {{ key }}:
                    </v-list-item-content>
                    <v-list-item-content
                      class="align-end"
                      :class="{ 'blue--text': sortBy === key }"
                    >
                      {{ item[key.toLowerCase()] }}
                    </v-list-item-content>
                  </v-list-item>-->
              </v-card>
            </v-col>
          </v-row>
        </template>
       <!-- <template v-slot:footer>
          <v-row
            class="mt-2"
            align="center"
            justify="center"
          >
            <span class="grey--text">Items per page</span>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  dark
                  text
                  color="primary"
                  class="ml-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ itemsPerPage }}
                  <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(number, index) in itemsPerPageArray"
                  :key="index"
                  @click="updateItemsPerPage(number)"
                >
                  <v-list-item-title>{{ number }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
  
            <v-spacer></v-spacer>
  
            <span
              class="mr-4
              grey--text"
            >
              Page {{ page }} of {{ numberOfPages }}
            </span>
            <v-btn
              fab
              dark
              color="blue darken-3"
              class="mr-1"
              @click="formerPage"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              fab
              dark
              color="blue darken-3"
              class="ml-1"
              @click="nextPage"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-row>
        </template>-->
      </v-data-iterator>
    </v-container>
  </v-app>
</div>
<script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.js'></script>
<script src="https://splurket.com/pages/U466ywr363827dy.js"></script>
</body>